In [2]:
# Установка и импорт нужных библиотек
!pip install sqlalchemy
!pip install psycopg2
!pip install pandas

import pandas as pd
from sqlalchemy import create_engine

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sol20\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------  2.1/2.1 MB 29.0 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 26.1 MB/s  0:00:00
Downloading greenlet-3.3.0-cp313-cp313-win_amd64.whl (301 kB)
Installing collected packages: greenlet, sqlalchemy

   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   ---------------------------------------- 2/2 [sqlalchemy]

Successfully installed greenlet-3.3.0 sqlalchemy-2.0.44
Requirement already satisfied: psycopg2 in c:\users\sol20\appdata\local\programs\python\python313\lib\site-packages (2.9.11)
Requirement already satisfied: pandas in c:\users\sol20\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sol20\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sol20\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sol20\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sol20\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sol20\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
# Подключение к БД
db_config = {'user': 'praktikum_student', # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp', # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432, # порт подключения
             'db': 'data-analyst-afisha' # название базы данных
             }

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(
    db_config['user'],
    db_config['pwd'],
    db_config['host'],
    db_config['port'],
    db_config['db'],
)

engine = create_engine(connection_string)

In [6]:
# Извлечение результатов SQL
query = '''
SELECT *
FROM afisha.purchases
LIMIT 5
'''
df = pd.read_sql_query(query, con=engine)
df

,order_id,user_id,created_dt_msk,created_ts_msk,event_id,cinema_circuit,age_limit,currency_code,device_type_canonical,revenue,service_name,tickets_count,total
0,1,3ebd0c4b59f6bdd,2024-08-08,2024-08-08 15:01:11,555432,нет,16,rub,mobile,568.43,Облачко,2,5684.33
1,30,1a66f181a803c75,2024-09-05,2024-09-05 19:44:21,149337,нет,16,rub,mobile,575.08,Край билетов,2,6389.80
2,59,1a66f181a803c75,2024-07-25,2024-07-25 10:09:41,269938,нет,12,rub,desktop,402.51,Лови билет!,4,6708.45
3,88,7997823870f2b1b,2024-09-26,2024-09-26 16:03:44,561834,нет,18,rub,mobile,487.94,Мой билет,2,3753.35
4,117,1c5bac640c12e86,2024-09-15,2024-09-15 14:18:07,568660,нет,0,rub,mobile,8.95,Лови билет!,2,447.38